#t1 {
    text-align: center;
}

#mt1 {
    text-align: center;
}

#jt1 {
    text-align: center;
}

#st1 {
    text-align: center;
}

#pi1 {
    text-align: center;
}

#pi2 {
    text-align: center;
    margin: auto;
}

#pi3 {
    text-align: center;
}

#pi4 {
    text-align: center;
}

#pi5 {
    text-align: center;
}

#pi6 {
    text-align: center;
    margin: auto;
}

#pi7 {
    text-align: center;
    margin: auto;
}

#mphoto {
    text-align: center;
    margin-left: 900px;
}

#et1 {
    text-align: center;
}